<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>İzmir / Diş Hekimi / Murat Mola</title>
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/assets/img/icon/favicon.ico")">
    <!-- all css here -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/flaticon.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/magnific-popup.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/slicknav.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/typography.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/default-css.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/styles.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/responsive.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/fonts-new/flaticon.css")">
    <!-- modernizr css -->
    <script src="@Url.Content("~/assets/js/vendor/modernizr-2.8.3.min.js")"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>

        [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
            font-family: Flaticon !important;
            font-size: 30px;
            font-style: normal;
            margin-left: 20px;
            color: #333;
        }
    </style>
</head>
<body id="top">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader_line"></div>
    </div>
    <!-- prealoader area end -->
    <!-- header area start -->
    <header>
        <div class="header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-12">
                        <div class="logo">
                            <a href="index.html"><img src="@Url.Content("~/assets/img/icon/logo-b.png")" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-md-9 d-none d-md-block">
                        <div class="main-menu">
                            <nav class="nav-menu">
                                <ul id="nav_menu">
                                    <li class="active"><a data-hover="Ana Sayfa" href="#home"><span>Ana Sayfa</span></a></li>
                                    <li><a data-hover="Hakkımda" href="#about"><span>Hakkımda</span></a></li>
                                    <li><a data-hover="Tedaviler" href="#cure"><span>Tedaviler</span></a></li>
                                    <li><a data-hover="İletişim" href="#contact"><span>İletişim</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-sm-12 d-block d-md-none">
                        <div class="responsive-menu-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->
    <!-- slider area start -->
    <section id="home" class="slider-area parallax" data-speed="3" data-bg-image="@Url.Content("~/assets/img/about/yatay.JPG")">
        <div class="container">
            <div class="slider-content">
                <h2 class="txtanim1"><span>Murat</span> <span>Mola</span></h2>
                <h4 class="txtanim1 delay1">
                    <span>D</span>
                    <span>i</span>
                    <span>ş</span>
                    <span> </span>
                    <span>H</span>
                    <span>e</span>
                    <span>k</span>
                    <span>i</span>
                    <span>m</span>
                    <span>i</span>
                </h4>
            </div>
        </div>
        <div class="white_svg svg_white">
            <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
                <polygon points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 " />
            </svg>
        </div>
        <div class="txtanim1 next-section">
            <span><a href="#about">Hakkımda <strong><i class="fa fa-question-circle"></i></strong></a></span>
        </div>
    </section>
    <!-- slider area end -->
    <!-- about area strat -->
    <section class="about-area" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="abt-left-thumb">
                        <img src="@Url.Content("~/assets/img/about/dikey.JPG")" alt="image">
                    </div>
                </div>
                <div class="col-md-7 offset-md-1">
                    <div class="abt-content">
                        <div class="section-title">
                            <h2 class="txt2_is_show">Hakkımda</h2>
                        </div>
                        <p class="txt1-wrap">
                            <span class="txt1">
                                1991 Manisa doğumlu Murat Mola, 2015 yılında Ege Üniversitesi Diş Hekimliği Fakültesi’nden mezun oldu. Mezun olduktan sonra bir süre özel bir poliklinikte çalıştı. Daha sonra diş hekimi asteğmen olarak askerlik görevini Ankara’da yaptı.
                            </span>
                        </p>
                        <p class="txt1-wrap">
                            <span class="txt1">
                                Eylül 2018'de Diş Hekimi Hüseyin Tabar ile birlikte kurdukları Duo Diş Kliniği'nde çalışmalarına devam etmektedir. Mola, kliniğinde ağırlıklı olarak estetik diş hekimliği üzerine çalışmalar yapmaktadır.
                            </span>
                        </p>
                        <p class="txt1-wrap">
                            <span class="txt1">
                                Birçok mesleki kongre, seminer ve kurslara katılım göstermiştir. Mola aşağıdaki derneklere üyedir.
                            </span>
                        </p>
                        <ul class="square indent-30">
                            <li>TDB</li>
                            <li>EDAD</li>
                        </ul>
                        <div class="social-link">
                            <h5>Takip İçin :</h5>
                            <a href="https://www.facebook.com/dtmuratmola" target="blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/muratmola" target="blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/doctormola" target="blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white_svg svg_gray about-area-bottom-triangles">
            <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
                <polygon points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 " />
            </svg>
        </div>
    </section>
    <!-- about area end -->
    <!-- service area start -->
    <section class="service-area bg-gray pb--150 pt--50" id="cure">
        <div class="container">
            <div class="section-title">
                <h2 class="txt2_is_show">Tedaviler</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-service txt2_is_show">
                        <div class="icon"><span class="flaticon-018-tooth-8"></span></div>
                        <div class="srvc-content">
                            <h4 class="one-liner">Estetik Diş Hekimliği</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service txt2_is_show">
                        <div class="icon"><span class="flaticon-018-tooth-8"></span></div>
                        <div class="srvc-content">
                            <h4 class="one-liner">Diş Beyazlatma</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service txt2_is_show">
                        <div class="icon"><span class="flaticon-029-smiling"></span></div>
                        <div class="srvc-content">
                            <h4 class="one-liner">Gülüş Tasarımı</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service txt2_is_show">
                        <div class="icon"><span class="flaticon-029-smiling"></span></div>
                        <div class="srvc-content">
                            <h4 class="one-liner">Lamina</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service txt2_is_show">
                        <div class="icon"><span class="flaticon-001-implant"></span></div>
                        <div class="srvc-content">
                            <h4 class="one-liner">İmplant</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service txt2_is_show">
                        <div class="icon"><span class="flaticon-009-brace"></span></div>
                        <div class="srvc-content">
                            <h4 class="one-liner">Ortodonti</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service txt2_is_show">
                        <div class="icon"><span class="flaticon-014-dental-drill"></span></div>
                        <div class="srvc-content">
                            <h4 class="one-liner">Kanal Tedavisi (Endodonti)</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service txt2_is_show">
                        <div class="icon"><span class="flaticon-048-dentist-1"></span></div>
                        <div class="srvc-content">
                            <h4 class="two-liner big-mobile-one-liner">Uyku Apnesi, Horlama Tedavisi</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service txt2_is_show">
                        <div class="icon"><span class="flaticon-026-tooth-13"></span></div>
                        <div class="srvc-content">
                            <h4 class="two-liner">Diş Eti Hastalıkları Tedavisi (Periodontoloji)</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service txt2_is_show">
                        <div class="icon"><span class="flaticon-048-dentist-1"></span></div>
                        <div class="srvc-content">
                            <h4 class="two-liner">Çocuk Diş Hekimliği (Pedodonti)</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-service txt2_is_show">
                        <div class="icon"><span class="flaticon-050-tooth-pliers-1"></span></div>
                        <div class="srvc-content">
                            <h4 class="one-liner">Çene ve Diş Cerrahisi</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white_svg svg_white">
            <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
                <polygon points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 " />
            </svg>
        </div>
    </section>
    <!-- service area end -->
    <!-- portfolio area start -->
    <!-- <section class="fortfolio-area bg-gray pt--100 pb--200" id="portfolio"> -->
    <!-- <div class="container"> -->
    <!-- <div class="section-title"> -->
    <!-- <h2 class="txt2_is_show">Our Portfolio</h2> -->
    <!-- </div> -->
    <!-- <div class="fortfolio-filter"> -->
    <!-- <button class="active" data-filter="*">All</button> -->
    <!-- <button data-filter=".web">Web Design</button> -->
    <!-- <button data-filter=".design">Graphics Design</button> -->
    <!-- <button data-filter=".marketing">Marketing</button> -->
    <!-- </div> -->
    <!-- <div class="portfolio-masonary row" id="container"> -->
    <!-- <div class="prt-grid marketing design col-md-4 col-sm-6"> -->
    <!-- <div class="prt-item"> -->
    <!-- <a class="expand-video" href="https://www.youtube.com/watch?v=eDiA1p5DlLg"> -->
    <!-- <span class="flaticon-play-button"></span> -->
    <!-- <img src="assets/img/portfolio/img1.jpg" alt="image"> -->
    <!-- </a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="prt-grid marketing web col-md-4 col-sm-6"> -->
    <!-- <div class="prt-item"> -->
    <!-- <a class="expand-img" href="assets/img/portfolio/img2.jpg"><img src="assets/img/portfolio/img2.jpg" alt="image"></a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="prt-grid col-md-4 col-sm-6"> -->
    <!-- <div class="prt-item"> -->
    <!-- <a class="expand-img" href="assets/img/portfolio/img3.jpg"><img src="assets/img/portfolio/img3.jpg" alt="image"></a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="prt-grid design marketing col-md-4 col-sm-6"> -->
    <!-- <div class="prt-item"> -->
    <!-- <a class="expand-img" href="assets/img/portfolio/img4.jpg"><img src="assets/img/portfolio/img4.jpg" alt="image"></a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="prt-grid web design col-md-4 col-sm-6"> -->
    <!-- <div class="prt-item"> -->
    <!-- <a class="expand-img" href="assets/img/portfolio/img5.jpg"><img src="assets/img/portfolio/img5.jpg" alt="image"></a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="prt-grid design marketing col-md-4 col-sm-6"> -->
    <!-- <div class="prt-item"> -->
    <!-- <a class="expand-img" href="assets/img/portfolio/img6.jpg"><img src="assets/img/portfolio/img6.jpg" alt="image"></a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="white_svg svg_white"> -->
    <!-- <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5"> -->
    <!-- <polygon points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 " /> -->
    <!-- </svg> -->
    <!-- </div> -->
    <!-- </section> -->
    <!-- portfolio area end -->
    <!-- contact area start -->
    <section class="contact-area pb--100 pt--50" id="contact">
        <div class="container">
            <div class="section-title">
                <h2 class="txt2_is_show">İletişim</h2>
            </div>

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3124.5664674574828!2d27.17797941580178!3d38.4514816796419!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b963983140952d%3A0xd264327dd4577548!2zRHVvIERpxZ8gS2xpbmnEn2k!5e0!3m2!1str!2sus!4v1534421718250" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            </br>
            <div class="row">
                <div class="col-md-5">
                    <div class="cnt-left">
                        <ul>
                            <li class="with-icon"><i class="flaticon-033-placeholder contact-icon"></i> Duo Diş Kliniği </li>
                            <li>1593/1 Sokak Lider Centrio A Blok Daire: 18  </li>
                            <li>35535 Bayraklı/İZMİR </li>
                            <li class="with-icon"><i class="flaticon-039-tooth-17 contact-icon"></i> dt.muratmola@gmail.com</li>
                            @*<li class="with-icon"><i class="flaticon-031-call-center"></i> +256-4516-556, +(257) 56812749</li>*@
                        </ul>
                        <!-- <table class="working-hours-table">
                            <tr>
                                <td colspan="2"><h5>Çalışma Saatleri</h5></td>
                            </tr>
                            <tr>
                                <td>Hafta İçi</td>
                                <td>9:00 - 19:00</td>
                            </tr>
                            <tr>
                                <td>Cumartesi</td>
                                <td>9:00 - 15:00</td>
                            </tr>
                            <tr>
                                <td>Pazar</td>
                                <td>Kapalı</td>
                            </tr>
                        </table> -->
                        <div class="social-link">
                            <h5>Takip İçin :</h5>
                            <a href="https://www.facebook.com/dtmuratmola" target="blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/muratmola" target="blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/doctormola" target="blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="contact-form">
                        <div class="screen-reader-response"></div>
                        <form data-action="@Url.Action("Contact", "Home")" id="cf">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" id="name" name="name" placeholder="Ad-Soyad*">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" id="email" name="email" placeholder="E-posta*">
                                </div>
                            </div>
                            <textarea name="msg" id="msg" placeholder="Mesajınız*"></textarea>
                            <div class="form-submit">
                                <button type="submit" name="submit" id="cnt_submit">Gönder<i class="fa fa-long-arrow-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact area end -->
    <!-- footer area start -->
    <footer>
        <div class="footer-area bg-gray">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-4">
                        <div class="flogo">
                            <!-- <a href="index.html"><img src="assets/img/icon/flogo.png" alt="logo"></a> -->
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-8">
                        <div class="copyright">
                            <p>© Tüm hakları <span>Murat Mola'ya</span> aittir.</p>
                        </div>
                    </div>
                </div>
                <div class="go-to-top">
                    <a href="#top"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
    <!-- jquery latest version -->
    <script src="@Url.Content("~/assets/js/vendor/jquery-3.2.0.min.js")"></script>
    <!-- bootstrap 4 js -->
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
    <!-- others plugins -->
    <script src="@Url.Content("~/assets/js/jquery.slicknav.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/assets/js/imagesloaded.pkgd.min.js")"></script>
    <script src="@Url.Content("~/assets/js/isotope.pkgd.min.js")"></script>
    <script src="@Url.Content("~/assets/js/plugins.js")"></script>
    <script src="@Url.Content("~/assets/js/scripts.js")"></script>
</body>
</html>